# Database
MONGO_DATABASE=TorvaldsReminderDB
MONGO_CONNECTION_STRING=mongodb://mongo:27017

# Email (Mailpit)
EMAIL_HOST=mailpit
EMAIL_PORT=1025
EMAIL_FROM=sistema@torvaldsreminder.com
EMAIL_USERNAME=
EMAIL_PASSWORD=

# ASP.NET Core
ASPNETCORE_ENVIRONMENT=Development

# Ports
PORT_API=5000
PORT_FRONTEND=4200
PORT_MAILPIT_UI=8025
PORT_MONGO=27017
